.custom-grid{
    display: grid;
    grid-template-columns: 680px 680px;
    grid-template-rows: 275px 275px;
    grid-row-gap: 6px;
    grid-column-gap: 6px;
}

.item1 {
    display: flex;
    background: linear-gradient(61deg, #000000 0%, rgba(0, 0, 0, 0) 70%),url("../images/photo1.png");
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-size: cover;
    background-position: center; 
}
.item2 {
    display: flex;
    background: linear-gradient(61deg, #000000 0%, rgba(0, 0, 0, 0) 70%),url("../images/photo2.png");
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
    background-position: center; 
}

.item3 {
    display: flex;
    background: linear-gradient(61deg, #000000 0%, rgba(0, 0, 0, 0) 70%),url("../images/photo3.png");
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    background-size: cover;
    background-position: center; 
}
