.inner-link{
    margin-left: 28px;
    align-self: flex-end;
    margin-bottom: 28px;
&-wrapper{
    display: flex;
    flex-direction: row;
    &__category{
        width: 470px;
        height: 21px;
        font-size: $font-size-m;
        text-transform: uppercase;
        align-self: center;
        font-weight: $medium;
        }
        &__title{
            margin-top: 8px;
            font-size:$font-size-xl;
            font-weight: $black;
        }
}
}