.wrapper-section-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    &__content{
        font-size: $font-size-x;
        font-weight: $black;
        color:$color-black;
    }
}
.link{
    background-color: $color-CaribbeanGreen;
    border-radius: 20px;
    display: inline-flex;
    &__title{
        font-size: $font-size-m;
        font-weight: $black;
        padding-left:25px;
        padding-right:7px;
        padding-bottom: 10px;
        padding-top: 10px;
        letter-spacing: $spacing-medium;
    }
    &__icon{
        width: 15px;
        height: 15px;
        align-self: center;
        padding-right: 35px;
        .arrow{
            border: solid $color-white;
            border-width: 0 2.5px 2.5px 0;
            display:inline-block;
            padding: 2.5px;
            
        }
        .right{
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    }
}


