.wrapper-text-grid{
    display: flex;
    flex-direction: row;
    margin-left: 28px;

    &__logo{
        width: 25px;
        height: 25px;  
        margin-right: 8px;
        
    }
    .hidde{
        display:none
    }
    &__category{
        font-size: $font-size-m;
        text-transform: uppercase;
        font-weight: $medium;
        align-self: center;
        }
}