.text-grid-title{
    margin-top: 8px;
    padding: 0 0 28px 28px;
    font-weight: $black;
    &__xl{
        font-size:$font-size-xl;
    }
    &__l{
        font-size:$font-size-l;
    }
    &__m{
        font-size:$font-size-m;
    }
}

.container-width__l{
    width:470px;
}
.container-width__m{
    width:300px;
}
.container-width__s{
    width:280px;
}
    