.text-grid-title{
    margin-top: 8px;
    padding: 0 0px 28px 28px;
    transition: all .40s ease-out;
    &__xl{
        font-size:$font-size-xl;
        font-weight: $black;
    }
    &__l{
        font-size:$font-size-l;
        font-weight: $black;
        margin-right: 100px;
    }
    &__m{
        font-size:$font-size-m;
        font-weight: $black;
        margin-right: 5px;
    }
    &:hover{
        color:$color-CaribbeanGreen;
    }
}
@media all and (min-width:1600px){

    .text-grid-title{
        &__l{
            margin-right: 182px;
        }
        &__m{
            margin-right: 30px;
        }
    }
} 