@mixin centerInnerTextGrid() {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

//mixins for browser compatibility
@mixin display-grid {
    display: -ms-grid;
    display: grid;
}
@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-column: #{$col-start}/#{$col-end};
    grid-row: #{$row-start}/#{$row-end};
}

@mixin custome-basegrid-up-to-5elements {
    display: -ms-grid;
    display: grid;
        grid-template-columns: repeat(4, minmax(150px, 1fr));
        grid-template-rows: repeat(4, 132.75px);
        grid-row-gap: 6px;
        grid-column-gap: 6px;
    
}

@mixin ItemsBackGroundImage($img){
    background: linear-gradient(61deg, #000000 0%, rgba(0, 0, 0, 0) 70%),url($img);
    background-size: cover;
    background-position: center;
}

@mixin ItemsBackGroundColorImageEmpty{
    background-color: #7ea9ae;
}