// Colors
// -- Global
$color-white: #FFFFFF;
$color-black: #000000;
// -- Focal
$color-CaribbeanGreen: #00db92;


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet');

// Fonts
$mainfont: 'Raleway', sans-serif;

// -- Weights
$medium: 400;
$black: 900;

// -- Sizes
$font-size-l: 24px;
$font-size-m: 18px;

// -- Sspacing
$spacing-medium: -0.14px;
